.Home {
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 50px;
}

.Home__content {
  text-align: center;
  h1 {
    font-size: 6.0rem;
    font-weight: 600;
    line-height: 6.0rem;
    color: #5dadaa;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0s forwards;
  }
  .first {
    animation-delay: 0s;
  }

  .second {
    animation-delay: 1s;
  }

  .third {
    animation-delay: 2s;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}